html,
body,
#cover
{
    height: 100%;
}

#cover
{
    background-image: url('resimler/bursa arkaplan.jpg'); no-repeat center center fixed;
    background-size: cover;
}

.fixed-top
{
    max-width: 1140px;
    margin: 0 auto;
}
h1
{
    margin-top: 8%;
    color: #ffffff;
    font-size: 80px;

    font-family:"Times New Roman", Times, serif; 
   
}
#header
{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: black;
    color: white;
}
#navbarNav
{
   
}
#image
{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#name
{
    margin-top: 20px;
    letter-spacing:0.2em;
}
#meslek
{
    margin-top: 15px;
}
#underline
{
    width: 300px;
    height: 10px;
    background: #ceced0;
}
#kişi
{
    background: #cdcdcf;
    padding: 2px;
    margin-top: 20px;
    margin-left: 605px;
    margin-right: 700px;
}
#eğitim
{
    background: #cdcdcf;
    padding: 10px;
    margin-top: 20px;
    margin-left: 650px;
    margin-right: 770px;
}
#hobi
{
    background: #cdcdcf;
    padding: 10px;
    margin-top: 20px;
    margin-left: 630px;
    margin-right: 740px;
}
#cv
{
    background: #cdcdcf;
    padding: 10px;
    margin-top: 20px;
    margin-left: 670px;
    margin-right: 790px;
}
#wrapper
{
    padding: 0px;
    margin-top: 20px;
}
#table
{
    margin-left: 250px;
    width: 900px;
    height: 35px;
    margin-top: 50px;
    color:bl;
   
}

#cinsiyet
{
    background: #263238;
}
#frm
{
	margin-left:650px;
}
#giris
{
	margin-top:90px;
	margin-left:700px;
}